<div class="market-container">

  <header class="market-header">
    <h1>Fintech Market Dashboard</h1>
    <p>Real-time crypto market overview</p>
  </header>

  <div class="market-movers">

    <div class="mover-card">

      <h3>🔥 Top Gainers</h3>

      <div *ngFor="let coin of topGainers" class="mover-row">

        <span>{{ coin.symbol | uppercase }}</span>

        <span class="positive">
          {{ coin.price_change_percentage_24h | number:'1.2-2' }} %
        </span>

      </div>

    </div>


    <div class="mover-card">

      <h3>📉 Top Losers</h3>

      <div *ngFor="let coin of topLosers" class="mover-row">

        <span>{{ coin.symbol | uppercase }}</span>

        <span class="negative">
          {{ coin.price_change_percentage_24h | number:'1.2-2' }} %
        </span>

      </div>

    </div>

  </div>

  <div class="market-info">

    <span *ngIf="lastUpdated">
      Last update: {{ lastUpdated | date:'mediumTime' }}
    </span>

  </div>

  <div class="search-bar">

    <input
      type="text"
      placeholder="Search coins..."
      [(ngModel)]="searchTerm"
      (input)="filterCoins()"
    />

  </div>

  <div class="market-card">

    <div *ngIf="loading" class="loading">
      Loading market data...
    </div>

    <div *ngIf="error" class="error">
      Error loading market data
    </div>

    <table *ngIf="!loading && !error">

    <thead>
      <tr>

        <th (click)="sortBy('market_cap_rank')">
        #
        </th>

        <th>
        Coin
        </th>

        <th (click)="sortBy('current_price')">
        Price
        </th>

        <th (click)="sortBy('price_change_percentage_24h')">
        24h %
        </th>

        <th (click)="sortBy('total_volume')">
        Volume
        </th>

        <th>Chart</th>

        <th>⭐</th>

      </tr>
    </thead>

      <tbody>

        <tr *ngFor="let coin of filteredCoins">

          <td>{{ coin.market_cap_rank }}</td>

          <td class="coin-cell">
            <img [src]="coin.image">
            <span>{{ coin.name }}</span>
          </td>

          <td>
            {{ coin.current_price | currency:'USD' }}
          </td>

          <td
            [class.positive]="coin.price_change_percentage_24h >= 0"
            [class.negative]="coin.price_change_percentage_24h < 0"
          >
            {{ coin.price_change_percentage_24h | number:'1.2-2' }} %
          </td>

          <td>
            {{ coin.total_volume | number }}
          </td>

          <td>

            <app-sparkline
              [data]="coin.sparkline_in_7d.price">
            </app-sparkline>

          </td>

          <td>

            <button
            (click)="toggleWatchlist(coin.symbol)"
            class="star">

            {{ isFavorite(coin.symbol) ? '★' : '☆' }}

            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>
